 .u-section-1 {
  background-image: url("images/FUNDO11reduzido1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 999px;
}

.u-section-1 .u-group-1 {
  width: 481px;
  min-height: 126px;
  margin: 257px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 0.8;
  text-transform: uppercase;
  animation-duration: 1000ms;
  letter-spacing: 4px;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  text-align: center;
  margin: 37px 0 0;
}

.u-section-1 .u-form-1 {
  height: 197px;
  width: 331px;
  margin: 0 auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-label-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-label-5 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-label-6 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0px;
  text-transform: none;
  background-image: none;
  display: inline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  width: 65%;
  padding: 8px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}