 .u-section-1 {
  background-image: url("images/FUNDO.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 970px;
}

.u-section-1 .u-group-1 {
  width: 481px;
  min-height: 126px;
  margin: 257px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 0.8;
  text-transform: uppercase;
  animation-duration: 1000ms;
  letter-spacing: 4px;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  text-align: center;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-1 .u-form-1 {
  height: 197px;
  width: 331px;
  margin: 0 auto;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-label-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-label-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  width: 65%;
  padding: 8px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 auto;
  padding: 8px 47px 9px 46px;
}

.u-section-1 .u-text-3 {
  margin: 6px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-btn-2 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 68.24% 78.24%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 52.34% 45.53%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 41.41% 4.95%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}